{% extends "base.html" %}

{% block content %}

{% if user %}
    <h2>Editar usuário</h2>
{% else %}
    <h2>Novo usuário</h2>
{% endif %}

<form method="post" class="form-card">

    <h3>Dados Pessoais</h3>

    <label for="nome">Nome</label>
    <input
        type="text"
        id="nome"
        name="nome"
        value="{{ user.nome if user else '' }}"
        required
    >

    <label for="email">E-mail</label>
    <input
        type="email"
        id="email"
        name="email"
        value="{{ user.email if user else '' }}"
        required
    >

    <h3>Dados funcionais</h3>

    <div class="form-grid-3">
        <div>
            <label for="matricula">Matrícula</label>
            <input
                type="text"
                id="matricula"
                name="matricula"
                value="{{ user.matricula if user else '' }}"
            >
        </div>

        <div>
            <label for="telefone">Telefone</label>
            <input
                type="text"
                id="telefone"
                name="telefone"
                value="{{ user.telefone if user else '' }}"
            >
        </div>

        <div>
            <label for="gerencia">Gerência</label>
            <input
                type="text"
                id="gerencia"
                name="gerencia"
                value="{{ user.gerencia if user else '' }}"
            >
        </div>

        <div>
            <label for="regional">Regional</label>
            <input
                type="text"
                id="regional"
                name="regional"
                value="{{ user.regional if user else '' }}"
            >
        </div>

        <div>
            <label for="equipe">Equipe</label>
            <input
                type="text"
                id="equipe"
                name="equipe"
                value="{{ user.equipe if user else '' }}"
            >
        </div>
    </div>

    <label for="role">Perfil</label>
    <select id="role" name="role" required>
        {% for role in roles %}
            <option
                value="{{ role }}"
                {% if user and user.role == role %}selected{% endif %}
            >
                {{ role }}
            </option>
        {% endfor %}
    </select>

    <label>
        <input
            type="checkbox"
            name="active"
            {% if not user or user.active %}checked{% endif %}
        >
        Usuário ativo
    </label>

    <label for="password">
        Senha
        {% if user %}
            <small>preencha somente se quiser alterar</small>
        {% endif %}
    </label>
    <input
        type="password"
        id="password"
        name="password"
        {% if not user %}required{% endif %}
    >

    <div class="form-button-row">
        <button type="submit">Salvar</button>
    </div>
    

</form>

{% endblock %}